<page-header [title]="'寻物信息发布'">
  请按填写要求完成表单！
</page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form"  se-container="1" labelWidth="200">
    <se label="标题" error="请输入标题" required>
      <input nz-input formControlName="title" placeholder="给寻物信息拟定一个标题" />
    </se>
    <se label="关键字" error="请输入关键字" required>
      <input nz-input formControlName="keyWord" placeholder="请提炼寻物关键字" />
    </se>
    <se label="描述" error="请输入寻物信息描述" required>
      <textarea
        nz-input
        formControlName="des"
        [nzAutosize]="{ minRows: 4 }"
        placeholder="请输入你的寻物信息详细描述"
      ></textarea>
    </se>
    <se label="你的真实姓名" optionalHelp="说明：输入真实名字才可以发布，避免失物招领系统的发布混乱" error="请输入你的真实姓名" required>
      <input nz-input formControlName="userName" placeholder="请输入你的真实姓名" />
    </se>
    <se label="联系方式" required>
      <input nz-input formControlName="concat" placeholder="请输入联系方式" />
    </se>
    <se label="是否使用积分提升排名" extra="积分排名提升制度，促进系统活跃度" required>
      <nz-radio-group formControlName="useGrade">
        <label nz-radio [nzValue]="1">使用</label>
        <label nz-radio [nzValue]="2">不使用</label>
      </nz-radio-group>
      <input *ngIf="form.value.useGrade === 1" nz-input formControlName="grade" placeholder="使用积分为" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting" (click)="submit()">提交</button>
    </se>
  </form>
</nz-card>
